server {
        listen 80;
        server_name {{ SLACK.DOMAIN }};
        return 301 https://{{ SLACK.DOMAIN }}$request_uri;
}
server {
        listen 443;
        listen 3000;

        ssl on;
        server_name {{ SLACK.DOMAIN }};
        location / {
                proxy_pass http://127.0.0.1:{{SLACK.PORT}}/;
        }

        ssl_certificate /etc/letsencrypt/live/party-sanseito.com/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/party-sanseito.com/privkey.pem;

}
